*, body {
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    padding: 24px  24px 30px 56px;
}

h1 {
    font-size: 4.5em;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    margin-top: 56px;
    margin-bottom:30px;
}

h3 {
    color: rgb(17,17,17);
    font-weight: 500;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 2;
}

ul.fotos {
    display: grid;
    gap: 0.75em;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 84px;
}

ul img {
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1fr 48px 1fr 48px 1fr 48px 1fr minmax(0,1fr);
}

.box1 {
    grid-column: 2;
}

.box2 {
    grid-column: 4;
}

.box3 {
    grid-column: 6;
}

.box4 {
    grid-column: 8;
}

a {
    color: rgb(117, 117, 117);
    text-decoration: none;
}