body {
    display: block flex;
    height: 100vh;
    font-size: 1.2em;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: honeydew;
}

p {
    margin: auto;
}

#grootte::before {
    content: "mobiel ";
}

@media screen and (max-width: 480px) {
    #grootte::before {
        content: "mobiel ";
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    #grootte::before {
        content: "tablet ";
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #grootte::before {
        content: "klein ";
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    #grootte::before {
        content: "groot ";
    }
}

@media screen and (min-width: 1200px) {
    #grootte::before {
        content: "extra ";
    }
}