#container>* {
  border: 1px solid #000;
  padding: 10px;
}

h1,
h2,
#score,
nav {
  font-size: 2rem;
  font-weight: bold;
}

#container {
  display: block grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

header {
  grid-column: 1;
  grid-row: 1;
}

#score {
  grid-column: 1;
  grid-row: 3;
  display: block grid;
  align-items: center;
  justify-items: center;
}

#stats {
  grid-column: 1;
  grid-row: 2;
  align-self: start;
}

/* Board */
main {
  grid-column: 2;
  grid-row: 1 / span 2;
}

/* Controls */
nav {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
}

#container {
  display: grid;
  grid-template-areas:
  "game-title board"
  "stats board"
  "score nav"
}

header {
  grid-area: game-title;
}

#score {
  grid-area: score;
}

#stats {
  grid-area: stats;
}

main {
  grid-area: board;
}

nav {
  grid-area: nav;
}

@media screen and (orientation: portrait) {
  #container {
    grid-template-areas:
    "game-title stats"
    "score stats"
    "board board"
    "nav nav"
  }
}

@media screen and (max-width: 500px)
{
  #container {
    grid-template-areas:
    "game-title score"
    "board board"
    "nav nav";
  }

  #stats {
    display: none;
  }
}